body{
    margin: 0 auto;
    background-color: bisque;
    max-width: 1050px;
    margin: 0 auto;
}
.banner-content{
    background-color: aquamarine;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.25em;
    padding: 30px;
}
.banner-content img{
    width: 100%;
    height: 400px;
}
.content{

}