body{
    max-width: 1170px;
    margin: 0 auto;
}
.text{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 40px;

    flex-wrap: wrap;

}
.card img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(22, 23, 24, 0.425);
}
.card{
    width: 300px;
    border: 1px solid peachpuff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(179, 177, 177);
}
.buy{
    padding: 5px 10px;
    font-size: 1.25em;
    background-color: azure;
    border-radius: 5px;

}
.buy:hover{
    background-color: rgb(195, 230, 230);
    
}