ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 30px;
}
nav ul li:hover{
    background-color: lightgrey;
}
li a{
    text-decoration: none;
    color: #000;
    font-size: 2em;

}